---
- name: Start Jiiify's Jenkins build
  script: trigger-jenkins.sh {{ jiiify_jenkins_auth }} {{ jiiify_build_token }} {{ jiiify_env }}.library.ucla.edu {{ secret_files[jiiify_env]['github_branch'] }} {{ secret_files[jiiify_env]['s3_bucketname'] }}
  no_log: True

- name: Download Jiiify
  shell: wget --user=ksclarke --password={{ jiiify_jenkins_auth }} -O /opt/jiiify/jiiify-{{ jiiify_version }}-exec.jar --auth-no-challenge https://jenkins.library.ucla.edu/job/jiiify-image-server/ws/target/jiiify-{{ jiiify_version }}-exec.jar
  no_log: True

- name: Remove Jiiify artifact from Jenkins server
  shell: curl -u ksclarke:{{ jiiify_jenkins_auth }} "https://jenkins.library.ucla.edu/job/jiiify-cleanup/build?token={{ jiiify_build_token }}"
  no_log: True

- name: Set file attributes for Jar file
  file: path=/opt/jiiify/jiiify-{{ jiiify_version }}-exec.jar owner=jiiify mode=0600 state=file

  # Using unzip instead of unarchive because we're only unzippping one particular file
- name: Unpack Jiiify supervisord.conf file
  shell: unzip -o -d /etc /opt/jiiify/jiiify-{{ jiiify_version }}-exec.jar supervisord.conf

- name: Upload JSON config file
  template: src=config.json.j2 dest=/etc/jiiify/config.json owner=jiiify group=jiiify mode=0600
  no_log: True

- name: Temporary hotfix for disabling solr
  script: configure-supervisor.sh
  
- name: Set supervisord.conf file attributes
  file: path=/etc/supervisord.conf mode=0600 state=file
  notify:
    - create supervisord socket
    - restart supervisord